.map {
    /* display: flex;
    flex-basis: 0%;
    flex-grow: 4; */
    height: 50vh;
    background-color: "black";
}

.polygon-blend-mode {
    /* Experiment with different blend modes to find the desired effect */
    /* Common options include: multiply, screen, overlay, darken, lighten */
    color: red;
    mix-blend-mode: overlay;
}